/***** Generics *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* /reset */

/***** /Generics *****/

/***** setting box container ******/

.flex,
main > section {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

nav,
section,
footer {
  padding: 30px 15%;
  justify-content: space-between;
}

aside {
  text-align: center;
  width: 70vh;
  margin: auto;
  padding-bottom: 50px;
}
#just-chillin,
.button {
  justify-content: center;
}
.button > * {
  margin: 10px 10px;
}

section {
  gap: 10px;
}

/* footer setting */

footer {
  height: 500px;
  background-color: black;
}

.column {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 1.5;
}

/* footer setting */

/***** /setting box container ******/

/***** Content ******/
.box {
  justify-content: center;
  align-items: center;
}
header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
#large-image {
  width: 1200px;
}

/***** /Content ******/

/***** Utilities *****/

/* setting color and text */

header {
  color: white;
}

section:nth-of-type(2n + 0) {
  background-color: hsl(0deg 0% 96%);
  flex-direction: row-reverse;
}

#just-chillin {
  flex-direction: column;
} /* per conflitto di priorità attribuisco flex-direction all'id */

a {
  text-decoration: none;
  color: white;
}
nav a {
  font-weight: 600;
  text-align: center;
}

ul {
  list-style-type: none;
}
h1 {
  padding: 30px 0;
}

footer h3,
footer h6 {
  color: hsl(227deg 58% 65%);
}
footer h6 {
  font-size: 1em;
}
footer h3 {
  font-size: 2em;
}
/* /setting color and text */

/* botton setting */

.button > * {
  margin: 10px 10px;
}

/* /botton setting */

/***** /Utilities *****/
